.popup__submit {
    width: 358px;
    height: 52px;
    background-color: #000;
    color: #fff;
    margin-bottom: 36px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.popup__submit:hover {
    background: rgba(0, 0, 0, 0.8);
}


@media screen and (max-width: 600px) {
    .popup__submit {
        width: 100%;
        margin-bottom: 0;
    }
}